.start{
   text-align: start;
   display: inline;
   margin-right: 250px;
   color: black;
}
span{
 margin-right: 25px;
 display: inline;
}
.p{
    text-align: center;
    display: inline;
}
.p2{
    text-align: right;
    display: inline;
    color: green;
    margin-left: 350px;
    margin-right: 35px;
}
.p3{
    background-color: green;
    display: inline;
    border-radius: 5px;
    color: aliceblue;

}
.green{
    color: green;
   margin-left: 50px;
   display: inline;
}
.rauf{
    font-size: 50px;
    margin-left: 50px;
    display: inline;
    color: black;
}
.w{
    padding-left: 700px;
    display: inline;
    width: 300px;
    position: absolute;
    
}
.r{
    margin-left: 50px;
}
.border{
    background-color: green;
    color: aliceblue;
    border-radius: 5px;
    display: inline;
    margin-left: 50px;
}
.e{
    text-align: center;
    color: gray;
}
.q{
    text-align: center;
}
.s{
    display: inline;
    width: 100px;
    margin-right: 85px;
    
}
.l{
  color: grey; 
  text-align: center; 
  font-size: 35px;
  
}
.c{
 text-align: center;   
}
.j{
    width: 50px;
    margin-left: 50px;
    display: inline;
}
.f{
    color: grey;
}
.v{
    color: gray;
}


.j2{
   width: 50px;
   margin-left: 550px;
   display: inline; 
}
.x{
    color: gray;
    text-align: center;
}
.j3{
    width: 50px;
    margin-left: 550px;
    display: inline;
    float: inline-end;
}
.g{
    text-align: center;
}
