.start{
   text-align: start;
   display: inline;
   margin-right: 250px;
}
span{
 margin-right: 25px;
 display: inline;
}
.p{
    text-align: center;
    display: inline;
}
.p2{
    text-align: right;
    display: inline;
    color: green;
    margin-left: 350px;
    margin-right: 35px;
}
.p3{
    background-color: green;
    display: inline;
    border-radius: 5px;
    color: aliceblue;

}
.green{
    color: green;
}
.rauf{
    font-size: 50px;
    margin-left: 50px;
}
.w{
    margin-left: 1000px;
    
}

