.start{
   text-align: start;
   display: inline;
   margin-right: 250px;
}
span{
 margin-right: 25px;
 display: inline;
}
.p{
    text-align: center;
    display: inline;
}
.p2{
    text-align: right;
    display: inline;
    color: green;
    margin-left: 350px;
    margin-right: 35px;
}
.p3{
    background-color: green;
    display: inline;
    border-radius: 5px;
    color: aliceblue;

}
.green{
    color: green;
   margin-left: 50px;
   display: inline;
}
.rauf{
    font-size: 50px;
    margin-left: 50px;
    display: inline;
}
.w{
    padding-left: 700px;
    display: inline;
    width: 300px;
    position: fixed;
    
}
.r{
    margin-left: 50px;
}
.border{
    background-color: green;
    color: aliceblue;
    border-radius: 5px;
    display: inline;
    margin-left: 50px;
}

